<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.5.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js}"></script>

    <title>Recipe Form</title>
</head>
<body>

<!-- /*@thymeleaf id="recipe" type="guru.springframework.domain.recipe"*/ -->
<div class="container-fluid mt-3 mb-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 ">

            <form th:object="${recipe}" th:action="@{/recipe/}" method="post"
                  th:with="validated = ${#fields.hasErrors()}">

                <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>

                <input type="hidden" th:field="*{id}">

                <div class="card align-content-center mb-3">
                    <div class="card-header">
                        <h3 class="card-title h3">Recipe Information</h3>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="input-group mb-3" th:with="hasErr = ${#fields.hasErrors('description')}">
                                <label class="input-group-text justify-content-center col-md-3" for="description">
                                    Recipe Description:</label>
                                <input class="form-control" type="text" id="description"
                                       aria-describedby="descriptionFeedback" th:field="*{description}"
                                       th:class="'form-control ' + (${hasErr} ? 'is-invalid' : '') + (${!hasErr && validated} ? 'is-valid' : '')">
                                <div id="descriptionFeedback"
                                     th:if="${validated}" th:class="${hasErr} ? 'invalid-feedback' : 'valid-feedback'">
                                    <ul>
                                        <li th:if="${!hasErr}">Looks good!</li>
                                        <li th:if="${hasErr}" th:each="err : ${#fields.errors('description')}"
                                            th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group-sm mb-3">
                                <label class="input-group-text justify-content-center  col-md-3">categories:</label>
                                <div class="form-control">
                                    <div class="form-check-inline form-switch col-md-6">
                                        <input class="form-check-input" type="checkbox" id="american" value="">
                                        <label class="form-check-label" for="american">Category American</label>
                                    </div>
                                    <div class="form-check-inline form-switch col-md-5">
                                        <input class="form-check-input" type="checkbox" id="mexican" value="">
                                        <label class="form-check-label" for="mexican">Category Mexican</label>
                                    </div>
                                    <div class="form-check-inline form-switch col-md-6">
                                        <input class="form-check-input" type="checkbox" id="italian" value="">
                                        <label class="form-check-label" for="italian">Category Italian</label>
                                    </div>
                                    <div class="form-check-inline form-switch col-md-5">
                                        <input class="form-check-input" type="checkbox" id="french" value="">
                                        <label class="form-check-label" for="french">Category French</label>
                                    </div>
                                    <div class="form-check-inline form-switch col-md-6">
                                        <input class="form-check-input" type="checkbox" id="korean" value="">
                                        <label class="form-check-label" for="korean">Category Korean</label>
                                    </div>
                                    <div class="form-check-inline form-switch col-md-5">
                                        <input class="form-check-input" type="checkbox" id="chinese" value="">
                                        <label class="form-check-label" for="chinese">Category Chinese</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="input-group" th:with="hasErr = ${#fields.hasErrors('prepTime')}">
                                    <label class="input-group-text justify-content-center col-md-6" for="prepTime">
                                        Prep time:</label>
                                    <input class="form-control" type="number" id="prepTime"
                                           aria-describedby="prepTimeFeedback" th:field="*{prepTime}" value="0"
                                           th:class="'form-control ' + (${hasErr} ? 'is-invalid' : '') + (${!hasErr && validated} ? 'is-valid' : '')">
                                    <label class="input-group-text justify-content-center" for="prepTime">min</label>
                                    <div id="prepTimeFeedback"
                                         th:if="${validated}"
                                         th:class="${hasErr} ? 'invalid-feedback' : 'valid-feedback'">
                                        <ul>
                                            <li th:if="${!hasErr}">Looks good!</li>
                                            <li th:if="${hasErr}" th:each="err : ${#fields.errors('prepTime')}"
                                                th:text="${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="input-group-text justify-content-center col-md-6" for="difficulty">
                                        Difficulty:</label>
                                    <select class="form-select" id="difficulty" th:field="*{difficulty}">
                                        <option th:remove="all" selected>Choose...</option>
                                        <option th:remove="all" value="1">EASY</option>
                                        <option th:remove="all" value="2">MODERATE</option>
                                        <option
                                                th:each="difficultyValue : ${T(guru.springframework.domain.Difficulty).values()}"
                                                th:value="${difficultyValue.name()}"
                                                th:text="#{${'difficulty.' + difficultyValue.name()}}"
                                        >
                                            HARD
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="input-group" th:with="hasErr = ${#fields.hasErrors('cookTime')}">
                                    <label class="input-group-text justify-content-center col-md-6" for="cookTime">Cook
                                        time:</label>
                                    <input class="form-control" type="number" id="cookTime"
                                           aria-describedby="cookTimeFeedback" th:field="*{cookTime}"
                                           th:class="'form-control ' + (${hasErr} ? 'is-invalid' : '') + (${!hasErr && validated} ? 'is-valid' : '')">
                                    <label class="input-group-text justify-content-center" for="cookTime">min</label>
                                    <div id="cookTimeFeedback"
                                         th:if="${validated}"
                                         th:class="${hasErr} ? 'invalid-feedback' : 'valid-feedback'">
                                        <ul>
                                            <li th:if="${!hasErr}">Looks good!</li>
                                            <li th:if="${hasErr}" th:each="err : ${#fields.errors('cookTime')}"
                                                th:text="${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group" th:with="hasErr = ${#fields.hasErrors('servings')}">
                                    <label class="input-group-text justify-content-center col-md-6" for="servings">
                                        Serving:</label>
                                    <input class="form-control" type="number" id="servings"
                                           aria-describedby="servingsFeedback" th:field="*{servings}"
                                           th:class="'form-control ' + (${hasErr} ? 'is-invalid' : '') + (${!hasErr && validated} ? 'is-valid' : '')">
                                    <div id="servingsFeedback"
                                         th:if="${validated}"
                                         th:class="${hasErr} ? 'invalid-feedback' : 'valid-feedback'">
                                        <ul>
                                            <li th:if="${!hasErr}">Looks good!</li>
                                            <li th:if="${hasErr}" th:each="err : ${#fields.errors('servings')}"
                                                th:text="${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="input-group-text justify-content-center col-md-6"
                                           for="source">Source:</label>
                                    <input class="form-control" type="text" id="source" th:field="*{source}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group" th:with="hasErr = ${#fields.hasErrors('url')}">
                                    <label class="input-group-text justify-content-center col-md-6"
                                           for="url">URL:</label>
                                    <input class="form-control" type="url" id="url"
                                           aria-describedby="urlFeedback" th:field="*{url}"
                                           th:class="'form-control ' + (${hasErr} ? 'is-invalid' : '') + (${!hasErr && validated} ? 'is-valid' : '')">
                                    <div id="urlFeedback"
                                         th:if="${validated}"
                                         th:class="${hasErr} ? 'invalid-feedback' : 'valid-feedback'">
                                        <ul>
                                            <li th:if="${!hasErr}">Looks good!</li>
                                            <li th:if="${hasErr}" th:each="err : ${#fields.errors('url')}"
                                                th:text="${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card align-content-center mb-3">
                    <div class="card-header">
                        <h3 class="card-title h3">Ingredients</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">1 Cup of milk</li>
                                    <li th:remove="all">1 Teaspoon of chocolate</li>
                                    <li th:each="ingredient : *{ingredients}"
                                        th:with="amount=${ingredient.amount.stripTrailingZeros()},
                                    unit=${(!ingredient.unitOfMeasure.description.equals('Each') ?
                                    (' ' + ingredient.unitOfMeasure.description + ' of ') : ' ')},
                                    description=${ingredient.description}"

                                        th:text="${amount} + ${unit} + ${ingredient.description}">
                                        1 Teaspoon of sugar
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card align-content-center mb-3">
                    <div class="card-header">
                        <h3 class="card-title h3">Directions</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-floating" th:with="hasErr = ${#fields.hasErrors('directions')}">
                                <textarea class="form-control" id="directions" placeholder="Write directions here"
                                          aria-describedby="directionsFeedback" th:field="*{directions}"
                                          th:class="'form-control ' + (${hasErr} ? 'is-invalid' : '') + (${!hasErr && validated} ? 'is-valid' : '')">

                                </textarea>
                                <label for="directions">Directions:</label>
                                <div id="directionsFeedback"
                                     th:if="${validated}" th:class="${hasErr} ? 'invalid-feedback' : 'valid-feedback'">
                                    <ul>
                                        <li th:if="${!hasErr}">Looks good!</li>
                                        <li th:if="${hasErr}" th:each="err : ${#fields.errors('directions')}"
                                            th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card align-content-center mb-3">
                    <div class="card-header">
                        <h3 class="card-title h3">Notes</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-floating ">
                                <textarea class="form-control" id="notes" placeholder="Write notes here"
                                          th:field="*{notes.recipeNotes}"></textarea>
                                <label for="notes">Notes:</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card align-content-center">
                    <button type="submit" class="btn btn-light"><span class="h5">Submit</span></button>
                </div>
            </form>

        </div>
    </div>
</div>


</body>
</html>